/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ebdeec;
}

.special {
  background-color: rgb(36, 53, 90);
  border: rgb(163, 92, 133);
  color: rgb(221, 215, 243);
  font-weight: bold;
}
