/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ebdeec;
}

div#input,
div#output {
  border: solid 1px #ccc;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.column {
  column-width: 200px;
}

.column p {
  margin: 0;
  padding: 0;
}

th {
  font-family: josefin-sans, josefin sans, sans-serif;
}

table {
  padding: 20px;
}

button {
  font-size: 110%;
}

#input p {
  margin: 0;
}

#max {
  width: 50px;
}

#text0,
#text1,
#text2,
#text3 {
  width: 100px;
}
