/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ebdeec;
}

#prev,
#next {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #bd84be;
  border: 2px solid #83568f;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#prev:hover,
#next:hover {
  background-color: #ffb5b5;
  border-color: #c25050;
}
