/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ebdeec;
}

#output {
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #4b3669;
}

.user-output {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #4b3669;
}
