/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ebdeec;
}

.minor-section-a {
  padding-bottom: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ebdeec;
}

#img-box {
  border-style: solid;
  float: left;
  border-color: rgb(113, 72, 119);
  max-width: 50%;
  max-height: 50%;
  margin: 10px;
}

#bunny-img {
  border-style: solid;
  float: right;
  border-color: rgb(113, 72, 119);
  max-height: 50%;
  max-width: 50%;
  margin: 10px;
}

p.intro {
  text-indent: 50px;
}

div#img-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: darkslateblue;
}
