/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ddd8c4;
}

body {
  background-color: palevioletred;
}

div#content {
  font-style: normal;
  padding: 10px 5px 15px;
}

h1 {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px lavenderblush;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-indent: 50px;
}

#img-box {
  border-style: solid;
  float: left;
  border-color: firebrick;
  max-width: 50%;
  max-height: 50%;
}

#bunny-img {
  border-style: solid;
  float: right;
  border-color: firebrick;
  max-height: 50%;
  max-width: 50%;
}

div#img-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: darkslateblue;
}
